/* src\index.css */
*{ box-sizing:border-box }

html,body,#root{ height:auto; }

body{
  margin:0;
  font-family: Vazirmatn, system-ui, sans-serif;
  background:#fafafa;
  color:#222;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* لینک‌ها */
a{ text-decoration:none; color:inherit; }
a:hover{ opacity:.85; }
